@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarBrand a {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 48px;
  font-size: 56px;
  text-decoration: none;
  color: #fff;
}
.navbarBrand {
  margin-top: 16px;
}
.navbarNavitems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 426px;
  margin-top: 25px;
}
.navItem a {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: #fff;
}
.navbarBtn {
  width: 170px;
  height: 48px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 12px;
  margin-top: 16px;
  color: #fff;
}
.navbarRight {
  display: flex;
  align-items: center;
}
.cartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-top: 16px;
}
.cartImage {
  position: absolute;
  z-index: 2;
}
